.advisor-requests-container {
    margin: 1rem;
}

.advisor-requests-welcome {
    font-size: 2rem;
    font-weight: 900;
    color: #888;
    margin: 0;
    padding-bottom: 3rem;
}

.advisor-requests-table-container {
    display: flex;
    justify-content: center;
}

.advisor-requests-table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.advisor-requests-table th, .advisor-requests-table td {
    text-align: center;
    padding: 0.5rem 0.25rem;
    font-size: 0.9rem;
  }
  
.advisor-requests-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.advisor-requests-table img {
    margin: 0;
    width: 1.1rem;
}

.advisor-requests-table button {
    background-color: transparent;
    border: none;
}

.advisor-requests-table button:hover {
    cursor: pointer;
}

.advisor-requests-table-container-no-data {
    font-size: 2rem;
    font-weight: 900;
    color: #999;
    padding-top: 3rem;
}

.disable-image {
    opacity: 0.5;
}

.disable-image:hover {
    cursor: not-allowed;
}

.green-string {
    color: green;
}

.red-string {
    color: red;
}