.change-password-popup-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.500);
    z-index: 100%; 
}
  
.change-password-popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 0.5rem;
}
  
.change-password-popup-header {
    font-size: 1.75rem;
    font-weight: 900;
    color: #555;
    margin: 0;
    padding-bottom: 1.5rem;
}

.change-password-popup-close {
    position: fixed;
    top: 0.75rem;
    right: 0.5rem;
}

.change-password-popup-close button {
    background-color: transparent;
    border: none;
}

.change-password-popup-close button:hover {
    cursor: pointer;
}

.change-password-popup-close img {
    height: 1.25rem;
}
  
.change-password-popup-input-container {
    padding-bottom: 10%;
    text-align: center;
}
  
.change-password-popup-input-container-inputs {
    text-align: center;
    font-size: 1rem;
    border-radius: 0.12rem;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 0.4rem 0.5rem;
    width: 70%;
    border-width: 0.05rem;
    height: 1.5rem;
}
  
.change-password-popup-buttons-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
}
  
.change-password-popup-button {
    font-size: 1rem;
    border-radius: 0.31rem;
    padding: 0.65rem 1.8rem;
}
  
.change-password-popup-red-button {
    background-color: #fff;
    border-color: rgb(220, 0, 0);
    border-style: solid;
    color: rgb(220, 0, 0);
}
  
.change-password-popup-red-button:hover {
    background-color: rgba(200, 0, 0, 0.050);
}
  
.change-password-popup-white-button {
    background-color: #fff;
    border-color: #474747;
    border-style: solid;
    color: #474747;
}
  
.change-password-popup-white-button:hover {
    background-color: #4747471f;
}
  
.change-password-popup-blue-button {
    background-color: #1B9FFE;
    border-color: #1B9FFE;
    border-style: solid;
    color: #fff;
}
  
.change-password-popup-blue-button:hover {
    opacity: 0.9;
}
 
.change-password-popup-show-password {
    padding-top: 5%;
}
  
.change-password-popup-show-password input{
    height: 0.9rem;
}
  