.admin-adduser-form-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-adduser-input-main-container {
    display: flex;
}

.admin-adduser-input-container {
    margin: 0 1.5rem;
}

.admin-adduser-input-container p {
    font-weight: 600;
}

.admin-adduser-input-container select {
    font-size: 0.93rem;
    border-radius: 0.12rem;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 0.31rem 0.62rem;
    width: 39.8rem;
    border-width: 0.006rem;
    height: 2.18rem;
}

.admin-adduser-input-container select.disable {
    cursor: not-allowed;
}

.admin-adduser-input-container input {
    font-size: 0.93rem;
    border-radius: 0.12rem;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 0.3125rem 0.62rem;
    width: 38.5rem;
    border-width: 0.006rem;
    height: 1.56rem;
}

.admin-adduser-input-container input.disable {
    cursor: not-allowed;
}

.admin-adduser-button-container{
    text-align: center;
    padding: 3rem 0;
}

.admin-adduser-button-container button {
    font-size: 0.93rem;
    border-radius: 0.31rem;
    width: 20%;
    padding: 0.625rem 1.87rem;
    border-style: solid;
    background-color: #1B9FFE;
    border-color: #1B9FFE;
    color: #ffffff;
}

.admin-adduser-button-container button:hover {
    color: #1B9FFE;
    background-color: transparent;
}
