.admin-Userpage-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 2.5rem;
    padding-top: 2rem;
}