.adminpage-left-container{
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: rgb(37,145,208);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.adminpage-logo img{
    height: 60px;
    padding-top: 20px;
    padding-left: 18px;
}

.adminpage-logo p{
    text-align: center;
    color: white;
    margin-top: -1px;
    padding-bottom: 10px;
}

.adminpage-left-container button{
    width: 100%;
    height: 90px;
    background-color: rgb(37,145,208);
    border: none;
    color: white;
    font-size: 16px;
}

.adminpage-left-container button.active{
    background-color: rgba(0, 0, 0, 0.5);

}

.adminpage-left-container button:hover{
    background-color: rgba(0, 0, 0, 0.5);

}

.adminpage-left-container button img{
    padding-top: 8px;
    height: 25px;
    width: auto;
}

.adminpage-left-container button p{
    font-size: 12px;
    font-weight: 700;
}