.loginpage-container{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.01'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    border-radius: 1.5rem;;
    padding: 3rem;
    box-shadow: 0rem 0rem 1.5rem #00000020;
}

.loginpage-left-container img{
    height: 30rem;
    width: auto;
    padding-right: 5rem;
}

.loginpage-right-container-header{
    padding-bottom: 0.1rem;
}

.loginpage-right-container-header img{
    height: 4rem;
    width: auto;
    padding-left: 9.5rem;
    padding-bottom: 1rem;
}

.loginpage-right-container-header h4, .loginpage-right-container-header p{
    line-height: 0.625rem;
}

.loginpage-input-container p{
    font-size: 0.95rem;
    line-height: 0rem;
    padding-top: 1rem;
}

.loginpage-input-container input{
    font-size: 0.95rem;
    border-radius: 0.12rem;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 0.4rem 0.5rem;
    width: 100%;
    border-width: 0.05rem;
    height: 1.5rem;
}

.loginpage-forgetpassword-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.show-password, .forget-password{
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

.forget-password a{
    text-decoration: none;
}

.buttons-container{
    padding-top: 1rem;
}

.buttons-container button{
    font-size: 1rem;
    border-radius: 0.31rem;
    padding: 0.65rem 1.8rem;
    border-style: none;
    background-color: #1B9FFE;
    color:#ffffff;
    width: 105%;
}

.buttons-container button:hover{
    border-color: #1B9FFE;
    border-style: solid;
    background-color: transparent;
    color: rgb(37,145,208);
}