.students-request-form-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5rem;
}
.students-request-form-input-container {
    display: flex;
    justify-content: center;
}

.students-request-form-inputs {
    padding-right: 10%;
    padding-top: 0.5rem; 
}

.students-request-form-inputs p {
    font-weight: 600;
}

.students-request-form-inputs select {
    font-size: 0.93rem;
    border-radius: 0.12rem;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 0.31rem 0.62rem;
    width: 29.37rem;
    border-width: 0.006rem;
    height: 2.18rem;
}

.students-request-form-inputs input {
    font-size: 0.93rem;
    border-radius: 0.12rem;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 0.3125rem 0.62rem;
    width: 28.12rem;
    border-width: 0.006rem;
    height: 1.56rem;
}

.students-request-form-buttons-container {
    text-align: center;
    padding-top: 8%;
}

.students-request-form-buttons-container button {
    font-size: 0.93rem;
    border-radius: 0.31rem;
    padding: 0.625rem 5rem;
    border-style: solid;
    background-color: #1B9FFE;
    border-color: #1B9FFE;
    color: #ffffff;
}

.students-request-form-buttons-container button:hover {
    color: #1B9FFE;
    background-color: transparent;
}

.students-request-form-upload-container input{
    border-width: 0.01rem;
    border-style: dashed;
}