.yearincharge-request-main-container{
    margin: 0 25%;
    background-color: #fff;
    border-radius: 1rem;
    border-color: #353535;
    border-style: solid;
    border-width: 0.09rem;
    padding: 2% 0%;
    box-shadow: 0.2rem 0.2rem 0.3rem #00000020;
    list-style: none;
}

.yearincharge-request-container{
    display: flex;
    justify-content: space-around;
}

.yearincharge-request-lines{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    color: #353535;
    line-height: 0.6rem;
}

.yearincharge-request-lines button{
    font-weight: 700;
    padding: 0.5rem;
    background-color: transparent;
    border-style: solid;
    border-radius: 0.3rem;
}

.yearincharge-accept-button{
    color: green;
    border-color: green;
}

.yearincharge-accept-button:hover{
    background-color: rgba(0, 128, 0, 0.05);
}

.yearincharge-reject-button{
    color: red;
    border-color: red;
}

.yearincharge-reject-button:hover{
    background-color: rgba(255, 0, 0, 0.05);
}

.yearincharge-edit-button-container{
    text-align: right;
    margin-top: -1rem;
    margin-right: 1rem;
}

.yearincharge-edit-button{
    background-color: #fff;;
    border-color: transparent;
    border-radius: 0.2rem;
    border-style: solid;
}

.yearincharge-edit-button:hover{
    background-color: rgba(255, 0, 0, 0.150);
}

.yearincharge-edit-button img{
    height: 1rem;
    width: auto;
}

.yearincharge-edit-container{
    text-align: right;
}

.yearincharge-close-button{
    background-color: #fff;;
    border-color: transparent;
    border-radius: 0.2rem;
    border-style: solid;
}

.yearincharge-close-button:hover{
    background-color: rgba(255, 0, 0, 0.150);
}

.yearincharge-close-button img{
    height: 0.5rem;
    width: auto;
}

.yearincharge-request-edit-select{
    height: 1.5rem;
    font-size: 0.9rem;
}

.yearincharge-request-edit-save-container{
    text-align: center;
    padding: 1.5rem 0;
}

.yearincharge-request-edit-save-container button{
    background-color: #1B9FFE;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    padding: 1% 5%;
}

.yearincharge-request-edit-save-container button:hover{
    opacity: 0.9;
}