.success-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-modal-box {
  width: 25rem;
  padding: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.success-modal-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal-content {
  margin-top: 1rem;
  color: #555;
  text-align: center;
}

.success-modal-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.success-modal-button button {
  background: transparent;
  color: #df0000;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
