.login-bg-container {
  background: linear-gradient(135deg, #f1f1fa 0%, #ecebfd 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  width: 70rem;
  border-radius: 1.5rem;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(34, 34, 34, 0.1);
}

.login-image {
  flex: 1.5;
  min-width: 22rem;
  object-fit: cover;
  height: 37.5rem;
  border-radius: 1rem 0 0 1rem;
  filter: brightness(0.88);
}

.login-form-container {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-icon img {
  width: 4rem;
  margin-bottom: 2rem;
}

.login-form p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.login-form-input {
  width: 100%;
  margin-bottom: 1.125rem;
}

.login-form-input input {
  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: 0.375rem;
  background: #f4f6fa;
  border: 0.0625rem solid var(--border-color);
  font-size: 0.9rem;
  color: #222;
  outline: none;
  box-sizing: border-box;
  transition: border 0.2s;
}

.login-form-input input:focus {
  border: 0.09375rem solid var(--primary-color);
}

.login-form-bottom-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.login-form-show-password {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.9rem;
  color: #444;
}

.login-form-show-password input[type="checkbox"] {
  height: 0.85rem;
}

.login-form-forgot-password a {
  font-size: 0.9rem;
  text-decoration: none;
}

.login-form-forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 0.875rem 0;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.75rem rgba(88, 137, 255, 0.05);
}

.login-button:hover {
  opacity: 0.9;
}
