.userinfo-container {
  height: 80vh;
  overflow: auto;
  scrollbar-color: #ddd #f5f5f5;
}

.userinfo-table-container {
  margin-top: 1rem;
}

.userinfo-table-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.userinfo-table-container th,
.userinfo-table-container td {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

.userinfo-table-container th {
  color: #000;
  font-weight: 300;
}

.userinfo-table-container td {
  color: #555;
}
