:root {
  --primary-color: #1f2937;
  --secondary-color: #eeeeee;
  --header-color: #444444;
  --text-color: #111111;
  --border-color: #cccccc;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  scrollbar-color: #ddd transparent;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: #4061f2;
}

.page-container {
  padding: 0 2rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-header {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 2rem;
}

/* ----- Form Styles ----- */
.form-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.form-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-input p {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  color: var(--primary-color);
}

.form-input select,
.form-input input,
.form-input textarea {
  color: var(--primary-color);
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: text;
  box-sizing: border-box;
}

.form-input select:focus,
.form-input input:focus,
.form-input textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color);
}

.disabled-form-input {
  background-color: #f0f0f0;
  border-color: #ccc;
}

.disabled-form-input:hover {
  cursor: not-allowed;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.form-bottom p {
  color: red;
}

.form-buttons-container {
  display: flex;
  gap: 1rem;
}

.primary-button {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.primary-button svg {
  height: 1.25rem;
  width: 1.25rem;
}

.primary-button:hover {
  opacity: 0.9;
}

.disabled-button {
  background-color: var(--border-color);
  cursor: not-allowed;
}

.button-loader {
  width: 18px;
  height: 18px;
  border: 3px solid var(--secondary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.form-info p {
  font-size: 1rem;
  color: #ff0000;
}

/* ----- View Info Styles ----- */

.view-info-inputs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-info-inputs-left-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.view-info-input input {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: text;
  box-sizing: border-box;
}

.view-info-input input:focus {
  border-color: var(--primary-color);
}

.view-info-input-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.view-info-input-icon-button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.view-info-inputs-right-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.view-info-buttons-list {
  display: flex;
}

.view-info-buttons-list-first-button {
  border-radius: 8px 0 0 8px;
}

.view-info-buttons-list-middle-button {
  border-inline: 0.5px var(--secondary-color) solid;
  border-radius: 0;
}

.view-info-buttons-list-last-button {
  border-radius: 0 8px 8px 0;
}

.view-info-table-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 6px;
  scrollbar-color: #ddd #f5f5f5;
  margin-top: 2rem;
  background-color: #fff;
}

.view-info-table {
  width: 100%;
  border-collapse: collapse;
}

.view-info-table thead td,
.view-info-table tbody td,
.view-info-table tfoot td {
  font-size: 0.9rem;
  padding: 1rem 2rem;
  text-align: left;
  color: var(--primary-color);
}

.view-info-table thead td {
  font-weight: 600;
}

.view-info-table tbody td {
  border-top: 1px solid var(--border-color);
}

.view-info-table tbody tr:hover {
  background-color: #f5f7ff;
}

.view-info-table tfoot td {
  border-top: 1px solid var(--border-color);
}

.view-info-table-data-loader {
  width: 18px;
  height: 18px;
  border: 3px solid var(--primary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.view-info-table-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--header-color);
}

.view-info-table-footer-left-container-button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  margin-left: 1rem;
}

.view-info-table-footer-left-container button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.view-info-table-footer-left-container-button-disabled {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  margin-left: 1rem;
  cursor: not-allowed;
  color: var(--border-color);
}

.view-info-table-footer-left-container-button-disabled svg {
  opacity: 0.2;
}

.view-info-table-footer-right-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.view-info-table-footer-right-container select {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.view-info-table-footer-right-container p {
  padding-right: 2rem;
}

.view-info-table-footer-right-container p span {
  font-weight: 600;
}

/* ----- Sidebar Form Styles ----- */

.sidebar-form-container {
  height: 80vh;
  overflow-y: auto;
  scrollbar-color: #ddd transparent;
}

.sidebar-form-form {
  margin: 0 1rem;
}

/* ----- Sidebar Details Styles ----- */

.sidebar-info-container {
  height: 90vh;
  overflow: auto;
  scrollbar-color: #ddd transparent;
}

.sidebar-info-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.sidebar-info-table-container th,
.sidebar-info-table-container td {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: left;
  color: var(--primary-color);
  padding-block: 0.75rem;
}

.sidebar-info-table-container tr {
  border-bottom: 1px solid var(--border-color);
}

.sidebar-buttons-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.inactive-text {
  color: #ff0000;
}

.active-text {
  color: #006217;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
