::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #999; 
}
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

body {
  font-family: "Livvic";
}

input, button, textarea {
  font-family: "Livvic";
}