.advisor-add-entry-container {
    margin: 1rem;
}

.advisor-add-entry-welcome {
    font-size: 2rem;
    font-weight: 900;
    color: #888;
    margin: 0;
}

.advisor-add-entry-date-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.advisor-add-entry-date-input-container input {
    height: 2rem;
    width: 15%;
    text-align: center;
    padding: 0 0.5rem;
}

.advisor-add-entry-date-input-container p {
    font-weight: 900;
    color: #333;
    padding-right: 1rem;
}

.advisor-add-entry-input-container {
    padding-top: 2rem;
}

.advisor-add-entry-table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.advisor-add-entry-table th, .advisor-add-entry-table td {
    text-align: center;
    padding: 0.5rem 0.25rem;
    font-size: 0.9rem;
  }
  
.advisor-add-entry-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.advisor-add-entry-table select {
    height: 1.5rem;
}

.advisor-add-entry-button-container {
    text-align: center;
    padding-top: 2rem;
}

.advisor-add-entry-button-container button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1B9FFE;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}