.student-sidebar-container {
    background-color: #1B9FFE;
    width: 7rem;
    height: 100vh;;
}

.student-sidebar-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.student-sidebar-user {
    color: #fff;
    text-align: center;
}

.student-sidebar-logo-container img {
    height: 4rem;
}

.student-sidebar-buttons-container {
    padding-top: 0.5rem;
}

.student-sidebar-buttons-container button {
    background-color: #1B9FFE;
    border: none;
    width: 100%;
    padding: 1.25rem 0;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.student-sidebar-buttons-container button:hover, .student-sidebar-buttons-container button.active {
    background-color: #0363a8;
}

.student-sidebar-buttons-container img {
    height: 1.5rem;
    margin: 0;
}

.student-sidebar-buttons-container p {
    margin: 0;
    padding-top: 0.5rem;
}

.student-sidebar-popup-button-container {
    display: flex;
    justify-content: center;
}

.student-sidebar-popup-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    padding: 1rem 0;
    width: 100%;
}

.student-sidebar-popup-button-container button:hover {
    background-color: #eee;
}

.student-sidebar-popup-button-container-logout button {
    color: red;
}

.student-sidebar-popup-button-container-logout button:hover {
    background-color: rgba(255, 0, 0, 0.100);
}

.student-sidebar-popup-button-container img {
    height: 1rem;
    padding-right: 0.25rem;
}

.student-sidebar-popup-button-container p {
    margin: 0;
}